# Datapool Assignment - 1

##### You are a newbie Data Analyst and you are supplied with some random datasets from domains of Finance, Sales and Sports. As a newbie, you are asked to load the dataset on the program, ask a minimum of 4 questions in your mind, write those questions and based on that carry out insights on the data if possible and display them on the notebook. But first, display all the technical stats of the dataset.

##### 1. Loading the Dataset:

###### We'll start by importing necessary libraries and loading datasets into a pandas DataFrame

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

at = pd.read_csv('airtravel.csv')
print("Our DataFrame for Air Travel:")
at

Our DataFrame for Air Travel:

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

##### 2. Displaying the Technical Statistics:

##### 2.1. Previewing the Data:

In [3]:
#Display the first 5 rows
at.head()

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472

##### 2.2. Dataset Information:

In [4]:
#Get information about the dataset
print("Summary of the Dataset:")
at.info()

Summary of the Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Month    12 non-null     object
 1    "1958"  12 non-null     int64
 2    "1959"  12 non-null     int64
 3    "1960"  12 non-null     int64
dtypes: int64(3), object(1)
memory usage: 516.0+ bytes

##### 2.3. Statistical Summary:

In [5]:
#Get information about the dataset
print("Statistical summary of the Dataset:")
at.describe()

Statistical summary of the Dataset:

           "1958"      "1959"      "1960"
count   12.000000   12.000000   12.000000
mean   381.000000  428.333333  476.166667
std     64.530472   69.830097   77.737125
min    310.000000  342.000000  390.000000
25%    339.250000  387.500000  418.500000
50%    360.500000  406.500000  461.000000
75%    411.750000  465.250000  514.750000
max    505.000000  559.000000  622.000000

##### 2.4. Checking for Missing Values:

In [6]:
at.isnull().sum()

Month      0
 "1958"    0
 "1959"    0
 "1960"    0
dtype: int64

##### Observations from Technical Statistics:
###### 
1. The dataset contains information about air travel over different months and years.
2. All columns appear to be numerical, indicating passenger counts.
3. There are no missing values detected, ensuring data integrity for analysis.
4. The statistical summary reveals variations in passenger numbers across different months and years.

##### 3. Formulating Questions

##### 3.1. What is the overall trend of air travel passenger numbers over the years?

##### Analysis Plan:
   1. Calculate the total passengers for each year.
   2. Plot a line chart to visualize the trend over the years.
   3. Interpret the trend to identify increases or decreases in air travel.

In [7]:
# Calculate total passengers per year
col1958 = np.asarray(at['1958'])
print(col1958)

KeyError: '1958'